<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body style="background:#b3b3ff">

<nav class="navbar navbar-default navbar-fixed-top" style="background:#9999ff">
  <div class="container">
    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'tasklist' %}">Homepage</a></button>
    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'create_person' %}">Add Person</a></button>
    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'create_task' %}">Add Task</a></button>
      <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'personlist' %}">Person List</a></button>
    <button type="button" class="btn btn-default navbar-btn">Log In</button>
      <button type="button" class="btn btn-default navbar-btn">Log Out</button>
      <button type="button" class="btn btn-default navbar-btn">Register</button>
  </div>
</nav>

<br><br><br>
{% block body %}{% endblock body %}

</body>
</html>