{% extends "base.html" %}

{% block body %}

<div class="container">
    <h2 style="text-align: center">Task List per person</h2>
    <br>
    <h4>Responsible person name: <b>{{ list_per.name }}</b></h4>
    <br>
    <h4>Detail list of task and their status</h4>

<table class="table table-striped">
    <tr style="background:#1a75ff">
        <th>Task Name</th>
        <th>Status</th>
    </tr>
{% for person in list_per.task.all %}
    <tr style="background:#80b3ff">
        <th>{{ person.task_name }}</th>
        <th>{{ person.status }}</th>
    </tr>
    {% endfor %}
</table>
</div>


{% endblock body %}

