{% extends "base.html" %}

{% block body %}

<div class="container">
    <h2 style="text-align: center">Detail list of task and their status</h2><br>

<table class="table table-striped">
    <tr style="background:#1a75ff">
        <th>Name</th>
        <th>Task</th>
        <th>Status</th>
        <th>Task Created At</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in task_ord %}
    <tr style="background:#80b3ff">
        <th><a href="{% url 'persontasklist' task.person.id %}">{{ task.person.name }}</a></th>
        <th>{{ task.task_name }}</th>
        <th>{{ task.status }}</th>
        <th>{{ task.created_at }}</th>
        <th><a href="{% url 'update_task' task.id %}">Update Task</a></th>
        <th><a href="{% url 'delete_task' task.id %}">Delete</a></th>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock body %}
